
.wrapper{
  width: 900px;
  height: 400px;
  margin: 0 auto;  
  position: relative;
}
.box{
  height: 60px;
  position: absolute;  
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: background-color 2s linear;
}
.box:hover{
  background-color: #cc33ff;
  transition: all 2s ease;
  cursor: pointer;
}

.gray{
  width: 800px;  
  background-color: #333;  
  bottom: 0;
}
.orange{
  width: 700px;  
  background-color: #ff3300; 
  bottom: 30px; 
}
.green{
  width: 600px;
  background-color: #00ff00; 
  bottom: 60px; 
}
.blue{
  width: 500px;
  background-color: #6600ff; 
  bottom: 90px; 
}
.violet{
  width: 400px;
  background-color: #ff3399;
  bottom: 120px;  
}
.red{
  width: 300px;
  background-color: #ff0000;  
  bottom: 150px;
}